{% extends "base.html" %}
{% load static i18n %}
{% block title %}Members{% endblock %}

{% block content %}
<div class="container">
    <br />
  <div class="row">
      <div class="col-md-11">
        <h2>Users</h2>
      </div>

      <div class="col-md-1">
        {% if request.user.has_google_account %}
          <a href="{% url "users:create" %}" class="btn btn-primary">Create</a>
        {% endif %}
      </div>
  </div>


  <table class="table">
  <tr>
      <th>User</th>
      <th>IBAN</th>
      <th></th>
  </tr>
    {% for user in user_list %}
        <tr>
            <td>
                {% if user.created_by == request.user and request.user.has_google_account %}
                    <a href="{% url 'users:detail' user.pk %}">
                        {{ user.get_full_name }}
                    </a>
                {% else %}
                    {{ user.get_full_name }}
                {% endif %}
            </td>
            <td>{{ user.iban }}</td>
            <td>
                {% if user.created_by == request.user and request.user.has_google_account %}
                    <a href="{% url 'users:delete' user.pk %}">Remove</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
  </table>
</div>
{% endblock content %}
